@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body
{
    margin: 0;
    font-family: Poppins;
    background-color: black;
    color: white;
    font-size: 12px;
}
a
{
    text-decoration: none;
}
header
{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    height: 50px;
    width: 1140px;
    max-width: 80%;
}
header a
{
    color: white;
    margin-right: 40px;
}
.carousel
{
    height: 100vh;
    width: 100ww;
    margin-top: -50px;
    overflow: hidden;
    position: relative;
}
.carousel .desc_list .item
{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0 0 0 0;
}
.carousel .desc_list .item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .desc_list .item .desc
{
    top: 20%;
    left: 50%;
    padding-right: 30%;
    width: 1140px;
    max-width: 80%;
    color: white;
    transform: translateX(-50%);
    box-sizing: border-box;
    box-shadow: 0 5px 10px #0004;
    position: absolute;
}

.carousel .desc_list .item .title,
.carousel .desc_list .item .theme
{
    font-size: 5em;
    font-weight: bold;
    font-weight: 5em;
}

.thumbnail
{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item
{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .desc
{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    left: 10px;
}
.arrows
{
    display: flex;
    gap: 10px;
    align-items: center;
    top: 80%;
    right: 52%;
    position: absolute;
    z-index: 100;
    width: 300px;
    max-width: 30%;

}
.arrows button
{
    height: 40px;
    width: 40px;
    border: none;
    background-color: #eee4;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    border-radius: 50%;
}
.arrows button:hover
{
    background-color: #fff;
    color: #000;
}
.carousel .desc_list .item:nth-child(1)
{
    z-index: 1;
}
.carousel .desc_list .item:nth-child(1) .desc .title,
.carousel .desc_list .item:nth-child(1) .desc .theme,
.carousel .desc_list .item:nth-child(1) .desc .description,
.carousel .desc_list .item:nth-child(1) .desc .buttond
{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: show .5s 1s linear 1 forwards;
}
@keyframes show
{
    to{
        transform: translateY(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.carousel .desc_list .item:nth-child(1) .desc .title
{
    animation-delay: 1.2s!important;
}
.carousel .desc_list .item:nth-child(1) .desc .topic
{
    animation-delay: 1.4s!important;
}
.carousel .desc_list .item:nth-child(1) .desc .des
{
    animation-delay: 1.6s!important;
}
.carousel .desc_list .item:nth-child(1) .desc .buttons
{
    animation-delay: 1.8s!important;
}

.carousel.next .desc_list .item:nth-child(1) img
{
    width: 150px;
    height: 220px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    border-radius: 30px;
    animation: showImage .5s linear 1 forwards;
}
@keyframes showImage
{
    to{
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}
.carousel.next .thumbnail .item:nth-last-child(1)
{
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.prev .list .item img
{
    z-index: 100;
}
@keyframes showThumbnail
{
    from
    {
        width: 0;
        opacity: 0;
    }
}

.carousel.next .thumbnail
{
    animation: effectNext .5s linear 1 forwards;
}
@keyframes effectNext
{
    from
    {
        transform: translateX(150px);
    }
}

.carousel .time
{
    position: absolute;
    z-index: 1000;
    width: 0%;
    height: 3px;
    background-color: #f1683a;
    left: 0;
    top: 0;

}

.carousel.next .time,
.carousel.prev .time{
    animation: runningTime 3s linear 1 forwards;
}
@keyframes runningTime{
    from{ width: 100%}
    to{width: 0}
}


/* prev click */

.carousel.prev .desc_list .item:nth-child(2){
    z-index: 2;
}

.carousel.prev .desc_list .item:nth-child(2) img{
    animation: outFrame 0.5s linear 1 forwards;
    position: absolute;
    bottom: 0;
    left: 0;
}
@keyframes outFrame{
    to{
        width: 150px;
        height: 220px;
        bottom: 50px;
        left: 50%;
        border-radius: 20px;
    }
}

.carousel.prev .thumbnail .item:nth-child(1)
{
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail .5s linear 1 forwards;
}
.carousel.next .arrows button,
.carousel.prev .arrows button
{
    pointer-events: none;
}
.carousel.prev .list .item:nth-child(2) .content .author,
.carousel.prev .list .item:nth-child(2) .content .title,
.carousel.prev .list .item:nth-child(2) .content .topic,
.carousel.prev .list .item:nth-child(2) .content .des,
.carousel.prev .list .item:nth-child(2) .content .buttons
{
    animation: contentOut 1.5s linear 1 forwards!important;
}

@keyframes contentOut
{
    to{
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
@media screen and (max-width: 678px) 
{
    .carousel .list .item .content
    {
        padding-right: 0;
    }
    .carousel .list .item .content .title
    {
        font-size: 30px;
    }
}