@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root
{
    --bg-color: grey;
    --nav-bg-color: white;

}
.sideBar
{
  background: var(--nav-bg-color);
  height: 100%;
  width: 200px;
  display: flex;
  padding: 0;
  justify-content: flex-start;
  flex-direction: column;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
*
{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}
body
{
  background-color: black;
  height: 100vh;
  margin: 0px;
}
.searchBox input
{
  width: 100%;
  height: 80%;
  font-size: 80%;
  background-color: rgb(238, 238, 238);;
  outline: none;
  border: none;
}
a
{
  text-decoration: none;
}

.searchBox
{
  background-color: rgb(238, 238, 238);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBar ul
{
  height: 90%;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.sideBar li
{
  list-style: none;
  width: 90%;
  height: 10%;
}

.sideBar a
{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBar a:hover
{
  color: white;
  
}